<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="conns" translate="label" sortOrder="1000">
            <label>Conns</label>
        </tab>
        <section id="connspronav" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>ProNav</label>
            <tab>conns</tab>
            <resource>Conns_Pronav::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ProNav Configuration</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled ProNav</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>connspronav/general/enabled</config_path>
                    <comment>
                        PLEASE NOTE: If you choose disable, please also disable in "Advanced > Disable Modules Output > Brandammo_Pronav > Disable" or in "app/etc/modules/Brandammo_Pronav.xml" set active to false.
                    </comment>
                    <tooltip>Enables/Disables ProNav scripts and functionality.</tooltip>
                </field>
                <field id="load_jquery" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load jQuery (1.9.1)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>connspronav/general/load_jquery</config_path>
                    <comment>
                        Loads in jQuery, turn this off if jQuery is loaded already or elsewhere.
                    </comment>
                </field>
                <field id="load_jquery_easing" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load jQuery Easing (1.3)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>connspronav/general/enabled</config_path>
                    <comment>
                        Loads in jQuery, turn this off if jQuery is loaded already or elsewhere.
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>