<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <type name="Magento\Catalog\CustomerData\CompareProducts">
        <plugin name="conns_addImageToCompare" type="Conns\ProductCompare\Plugin\AddImageToCompare" />
    </type>
</config>