<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Conns_PowerStore" setup_version="0.0.2">
        <sequence>
            <module name="BrainActs_StoreLocator"/>
            <module name="PowerReviews_ReviewDisplay"/>
        </sequence>
    </module>
</config>
