<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Conns_RefineBy::root" title="Conns">
                    <resource id="Conns_RefineBy::config" title="Conns Refine by"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
