<?xml version="1.0"?>
<!--
  ~ Copyright © BrainActs Commerce OÜ. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="brainacts_storelocator" translate="label" type="text" sortOrder="1001" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Dealer/Store Locator</label>
            <tab>brainacts_extensions</tab>
            <resource>BrainActs_StoreLocator::config_storelocator</resource>
            <group id="search">
                <field id="view_mode" translate="label" type="select" sortOrder="40" showInDefault="0" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>View Mode</label>
                    <source_model>BrainActs\StoreLocator\Model\Config\Source\Search\ViewMode</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
